{deps, [
  {util, {git, "https://github.com/saleyn/util.git", {branch, "master"}}}
]}.

{erl_opts, [
	warnings_as_errors,
	warn_export_all,
  debug_info
]}.

{edoc_opts, [{overview,     "README.md"},
             {title,        "Payments Engine"},
             {top_level_readme, {"./README.md", "http://github.com/saleyn/payments-engine"}},
             {app_default,  "http://www.erlang.org/doc/man"}]}.

{post_hooks, [{clean, "rm -fr _build ebin priv erl_crash.dump"}]}.

{relx, [
  {release,
    {payments, "0.1"},
    [
      {sasl,    none},
      {wx,      none},
      {debugger,none},
      {observer,none},
      {runtime_tools,none},
      {util,    none},
      {mnesia,  load},
      payments
    ]
  },
  {include_erts, false},
  {include_src,  false},    %% Don't include application source files
  {system_libs,  false},    %% Don't include system libs

  {extended_start_script, true},

  {sys_config_src, "etc/sys.config"},
  {vm_args_src,    "etc/vm.args"},

  {overlay, [
    {copy, "bin/payments-loader.es", "bin/payments-loader.es"}
  ]}

]}.
